{# {% extends 'base.html.twig' %}

{% block title %}Hello AdminCategoryController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/PHP/vod_platform/src/Controller/AdminCategoryController.php'|file_link(0) }}">src/Controller/AdminCategoryController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/PHP/vod_platform/templates/admin_category/index.html.twig'|file_link(0) }}">templates/admin_category/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %} #}


{% extends 'base-backend.html.twig' %}

{% block title %}Catégorie index{% endblock %}

{% block body %}


{% for label, messages in app.flashes() %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<div class="d-flex flex-wrap justify-content-between align-items-center">
    <h1>Categorie</h1>
    <a href="{{ path('app_admin_category_new') }}" class="btn btn-success"><i class="aligne-middle" data-feather="plus"></i></a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Slug</th>
            <th class="text-end">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>{{ category.slug }}</td>
            <td class="text-end">
                <a href="{{ path('app_admin_category_show', {'id': category.id}) }}" class="btn btn-warning"><i class="aligne-middle" data-feather="eye"></i></a>
                <a href="{{ path('app_admin_category_edit', {'id': category.id}) }}" class="btn btn-success"><i class="aligne-middle" data-feather="edit-2"></i></a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">No records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
